# Dependencias
/vendor/
/node_modules

# Archivos de entorno
.env
.env.backup
.env.production

# Archivos generados
/public/build
/public/hot
/public/storage
/storage/*.key

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# Configuración Homestead
Homestead.json
Homestead.yaml

# Logs y errores
npm-debug.log
yarn-error.log

# Editores / IDE
/.idea
/.vscode
/.fleet